{% extends 'home/base.html' %} {% block title %} Home {% endblock %} {% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to Placement Cell!</h1>
  <p class="lead">Find the latest job postings here.</p>
  <hr class="my-4" />
</div>

<div class="row">
  {% for job in jobs %}
  <div class="col-md-4">
    <h2>{{ job.title }}</h2>
    <p>{{ job.description|truncatewords:30 }}</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div>
  {% endfor %}
</div>
{% endblock %}
